/* body {
  background-color: black;
} */
.heading {
  text-align: center;
  font-family: "sofia", sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 50px;
  padding: 20px;
}
.card img {
  width: 100%;
}
.card .r-more {
  text-align: center;
}
.article {
  /* border: 1px solid black; */
  background-color: white;
  margin: 2px;
  text-align: center;
  font-size: 18px;
  -webkit-box-shadow: -4px 3px 20px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -4px 3px 20px -1px rgba(0,0,0,0.75);
  box-shadow: -4px 3px 20px -1px rgba(0,0,0,0.75);
  padding: 10px;
}
.source-card {
  /* border: 2px solid red; */
  padding: 2px;
  margin: 5px;
  background-color: #e8dfdf;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: 'hubballi';
  font-size: 20px;
  box-shadow: -4px 3px 20px -1px rgba(0,0,0,0.75);
}
